@use "reset"; /* 整份使用不需加as */
@use "variables" as *; /* 局部調用才需要加as */

#topbar {
    position: fixed;
    top: 0;
    left: 0;
}

#banner{
    height: 100vh;
    background-image: url(../images/bg-pattern-logos.png),
    linear-gradient($primary-color 16%, $secondary-1 76%);

    #content{
        h1{
            font-size: 3rem;
        }
    }
}

footer{
    background-color: $primary-color;
}